---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
---
<DefaultLayout title="Home" description="desc">
    <form id="key-generation-form" class="my-5 w-50 mx-auto">
        <div id="webCryptoAPI-FailAlert" class="alert alert-danger" role="alert" style="display: none;">
            WebCrypto API not available - Make sure to use HTTPS and a modern browser.
        </div>
        <fieldset id="fieldset-form">
            <h2>Generate key pair</h2>
            <fieldset>
                <legend>Key type</legend>
                <div class="mb-3 form-check">
                    <input class="form-check-input" type="radio" name="key-type-radio" id="curve-radio" value="curve" checked>
                    <label class="form-check-label" for="curve-radio">Curve 255 bit</label>
                </div>
                <div class="mb-3 form-check">
                    <input class="form-check-input" type="radio" name="key-type-radio" id="rsa2048-radio" value="rsa2048">
                    <label class="form-check-label" for="rsa2048-radio">RSA 2048 bit</label>
                </div>
                <div class="mb-3 form-check">
                    <input class="form-check-input" type="radio" name="key-type-radio" id="rsa4096-radio" value="rsa4096">
                    <label class="form-check-label" for="rsa4096-radio">RSA 4096 bit</label>
                </div>
            </fieldset>

            <div class="mb-3">
                <label for="full-name" class="form-label">Full name</label>
                <input type="text" class="form-control" id="full-name" name="full-name">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>

            <div class="mb-3">
                <label for="passphrase" class="form-label">Passphrase</label>
                <input type="password" class="form-control" id="passphrase" aria-describedby="passphraseHelp" name="passphrase">
                <div id="passphraseHelp" class="form-text">We'll never share your passphrase with anyone.</div>
            </div>

            <fieldset>
                <legend>Expiration date</legend>
                <div id="expiration-date-form">
                    <div class="mb-3 form-check">
                        <input class="form-check-input" type="radio" name="expiration-date" id="one-year-radio" value="1" checked>
                        <label class="form-check-label" for="one-year-radio">1 Year</label>
                    </div>
                    <div class="mb-3 form-check">
                        <input class="form-check-input" type="radio" name="expiration-date" id="two-year-radio" value="2">
                        <label class="form-check-label" for="two-year-radio">2 Years</label>
                    </div>
                    <div class="mb-3 form-check">
                        <input class="form-check-input" type="radio" name="expiration-date" id="three-year-radio" value="3">
                        <label class="form-check-label" for="three-year-radio">3 Years</label>
                    </div>
                    <div class="mb-3 form-check">
                        <input class="form-check-input" type="radio" name="expiration-date" id="custom-year-radio" value="custom">
                        <label class="form-check-label" for="custom-year-radio">Custom</label>
                        <div class="mt-2">
                            <label for="datePicker" class="form-label">Select a Date</label>
                            <input type="date" class="form-control" id="datePicker" name="custom-date" required disabled>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="w-100 text-center">
                <button type="submit" class="btn btn-primary btn-lg">Generate</button>
            </div>
        </fieldset>
    </form>

    <div id="show-keys-div" class="mb-5 w-50 mx-auto" style="display: none;">
        <h3>Public key</h3>
        <textarea id="public-key-textarea" class="w-75 mb-2" readonly></textarea>
        <br><button id="download-button-public-key" class="btn btn-primary btn mb-4">Download public key</button>
        <h3>Private key</h3>
        <textarea id="private-key-textarea" class="w-75 mb-2" readonly></textarea>
        <br><button id="download-button-private-key" class="btn btn-primary btn mb-4">Download private key</button>
        <h3>Revocation certificate</h3>
        <textarea id="revocation-certificate-textarea" class="w-75 mb-2" readonly></textarea>
        <br><button id="download-button-revocation-certificate" class="btn btn-primary btn">Download revocation certificate</button>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-success text-light">
                <strong class="me-auto">Key generated successfully</strong>
                <small>Now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                The key is saved securly. Check it out in the "Keys" tab.
            </div>
        </div>
        <div id="webCryptoAPI-FailToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-danger text-light">
                <strong class="me-auto">WebCrypto API not available</strong>
                <small>Now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Make sure to use HTTPS and a modern browser.
            </div>
        </div>
    </div>

    <script>
        import Toast from "bootstrap/js/dist/toast";
        import { saveKeysToIndexedDB, downloadTextAsFile } from "@/utils/helpers.js";

        const expirationDateForm = document.getElementById("expiration-date-form");
        const datePicker = document.getElementById("datePicker");
        const form = document.getElementById("key-generation-form");
        const publicKeyTextarea = document.getElementById("public-key-textarea");
        const privateKeyTextarea = document.getElementById("private-key-textarea");
        const revocationCertificateTextarea = document.getElementById("revocation-certificate-textarea");
        const showKeysDiv = document.getElementById("show-keys-div");

        const ONE_YEAR = 60 * 60 * 24 * 365;

        async function generateCurveKeys(name, email, passphrase, keyExpirationTime) {
            const { privateKey, publicKey, revocationCertificate } = await openpgp.generateKey({
                type: 'ecc',
                curve: 'curve25519',
                userIDs: [{ name: name, email: email }],
                passphrase: passphrase,
                keyExpirationTime: keyExpirationTime
            });

            await saveKeysToIndexedDB(name, email, publicKey, privateKey, revocationCertificate);

            showKeys(name, email, publicKey, privateKey, revocationCertificate);
        }

        async function generateRSAKeys(rsaBits, name, email, passphrase, keyExpirationTime) {
            const { privateKey, publicKey, revocationCertificate } = await openpgp.generateKey({
                type: 'rsa',
                rsaBits: rsaBits,
                userIDs: [{ name: name, email: email }],
                passphrase: passphrase,
                keyExpirationTime: keyExpirationTime
            });

            await saveKeysToIndexedDB(name, email, publicKey, privateKey, revocationCertificate);

            showKeys(name, email, publicKey, privateKey, revocationCertificate);
        }

        function showKeys(name, email, publicKey, privateKey, revocationCertificate) {
            publicKeyTextarea.textContent = publicKey;
            privateKeyTextarea.textContent = privateKey;
            revocationCertificateTextarea.textContent = revocationCertificate;

            showKeysDiv.style.display = "block";
            showKeysDiv.scrollIntoView();
        }

        expirationDateForm?.addEventListener("change", (event) => {
            const selectedValue = event.target.value;
            
            if (selectedValue === "1" || selectedValue === "2" || selectedValue === "3") {
                datePicker.disabled = true;
            } else {
                datePicker.disabled = false;
            }
        });

        if (!(typeof window !== 'undefined' && window.crypto && window.crypto.subtle)) {
            document.getElementById("fieldset-form").disabled = true;

            Toast.getOrCreateInstance(
                document.getElementById("webCryptoAPI-FailToast"),
                {
                    delay: 7000,
                    autohide: true
                }
            ).show();

            document.getElementById("webCryptoAPI-FailAlert").style.display = "block";
        }

        form.addEventListener("submit", (event) => {
            event.preventDefault();

            const formData = new FormData(form);

            const keyType = formData.get("key-type-radio");
            const fullName = formData.get("full-name");
            const email = formData.get("email");
            const passphrase = formData.get("passphrase");
            const expirationDate = formData.get("expiration-date");

            let deltaSeconds;
            switch (expirationDate) {
                case "custom":
                    const dateObject = new Date(formData.get("custom-date"));
                    deltaSeconds = (dateObject.getTime() / 1000) - Math.floor(Date.now() / 1000);
                    break;
                case "1":
                    deltaSeconds = ONE_YEAR;
                    break;
                case "2":
                    deltaSeconds = ONE_YEAR * 2;
                    break;
                case "3":
                    deltaSeconds = ONE_YEAR * 3;
                    break;
                default:
                    alert("expirationDate not defined!");
                    return;
            }

            switch (keyType) {
                case "curve":
                    generateCurveKeys(fullName, email, passphrase, deltaSeconds);
                    break;
                case "rsa2048":
                    generateRSAKeys(2048, fullName, email, passphrase, deltaSeconds);
                    break;
                case "rsa4096":
                    generateRSAKeys(4096, fullName, email, passphrase, deltaSeconds);
                    break;
                default:
                    alert("keyType not defined!");
                    return;
            }

            Toast.getOrCreateInstance(
                document.getElementById("successToast"),
                {
                    delay: 7000,
                    autohide: true
                }
            ).show();
        });

        document.getElementById("download-button-public-key").addEventListener("click", (event) => {
            downloadTextAsFile(publicKeyTextarea.value, "public_key.asc");
        });
        document.getElementById("download-button-private-key").addEventListener("click", (event) => {
            downloadTextAsFile(privateKeyTextarea.value, "private_key.asc");
        });
        document.getElementById("download-button-revocation-certificate").addEventListener("click", (event) => {
            downloadTextAsFile(revocationCertificateTextarea.value, "revocation_certificate.asc");
        });
    </script>
</DefaultLayout>