---
import "@/styles/style.css";
import "@/styles/bootstrap.css";
import Head from "@/components/Head.astro";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";

const { title, description } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<Head title={ title } description = { description }/>
<body>
    <Navbar/>
    <div class="row">
        <div class="my-4 col-10 col-md-8 col-lg-6 mx-auto">
            <div class="alert alert-warning" role="alert">
                This website is under construction! It may not work properly.
            </div>
            <slot/>
        </div>
    </div>
    <Footer/>
</body>
<script>
    import Collapse from "bootstrap/js/dist/collapse";
</script>
</html>